{% extends 'base/base.html' %}
{% block page_content %}
<div class="container-fluid">
  <div class="col">
    <h4>Busqueda por No. de Cheque</h4>
  </div>

  <form class="" action="." method="GET" autocomplete="off">
    <div class="input-group">
      <input type="text" name="q" value="{{query|escape}}" placeholder="No. de factura"
      aria-label="Busqueda" aria-describedby="basic-addon2"
      autocomplete="off"
      >
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>

{% if query %}
  <br>
  <div class="card shadow mb-3">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Resultado para <em>{{query}}</em></h6>
    </div>

  <div class="card-body">
    <div class="table-responsive">
      <table id="busqueda" class="table table-borderd table-hover">
        <thead>
          <tr>
            <th>No. Cheque</th>
            <th>Proveedor</th>
            <th>No. Factura</th>
            <th>Cantidad</th>
            <th class="all">Acciones</th>
          </tr>
          </thead>
          <tbody>
          {% for m in cheque %}
            <tr>
              <td>{{ m.no_cheque }}</td>
              <td>{{ m.proveedor.nombre }}</td>
              {% if m.id_fac.no_fac %}
                <td>{{ m.id_fac.no_fac }}</td>
              {% else %}
                <td>{{ m.no_fac}}</td>
              {% endif %}
              <td>{{ m.cantidad }}</td>
              <td>
                <a class="btn btn-warning btn-circle" href="{% url 'che:cheque_edit' m.id %}">
                    <i class="far fa-edit"></i></a>
                <a class="btn btn-outline-secondary" href="{%url 'che:detail_cheque' m.pk%}">Detalle</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
    {% endif %}
  </div>
  </div>
</div>
{% endblock%}
