{% extends 'base/base.html' %}
{% block footer %}{% endblock %}
{% block page_content %}
<div class="container-fluid" >
	<div class="row mt-3" >
		<div "col" >
			<div class="card border-left-primary shadow h-100 py-2" >
				<div  class="card-body" >
					<div class="row no-gutters align-items-center">

						<form class="" action="." method="GET" autocomplete="off">
						<b><span>Buscar fecha a pagar:</span></b><br><br>
						<input class="form-class" type="text"  name="f6" id="f6" readonly>

						<br>
						<br>
							<br>
							<div class="form-group col-md-4">
								<button class="btn btn-warning" type="submit" id="btnPrintPagar">Imprimir</button>
							</div>
						</form>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js_page %}
<script>
	$(function(){
		$("#f6").datetimepicker({
			format: 'Y-m-d',
			timepicker:false

		});
  $("#btnPrintPagar").click(function(e){
    e.preventDefault();
    var f6;
    f6 = $("#f6").val();

    if(f6=="" || f6==null){
      var d = new Date();
    //  var f6 = d.getDate() + "-" + (d.getMonth()+1) + "-" + d.getFullYear();
    	var f6 = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate();
    }
		// var categoria =1
		// pagar = $("#pagar").val()
    var url = "pdfpragar/" + f6 + "/" ;

    window.open(url,'cheques');
    });
		});
</script>
{% endblock %}
