<div class="modal-dialog modal-lg">
        <div class="modal-content">
            {% if obj %}
            <form method="POST" role="form" class="form-inline" action="#" enctype="multipart/form-data" >
            {% else %}
            <form method="POST" role="form" class="form-inline" action="#" enctype="multipart/form-data" >
            {% endif %}
                <div class="col-xl-12 col-md-12 mb-12">
                    {% if obj %}
                    <div class="card border-left-warning shadow h-100 py-2">
                    {% else %}
                    <div class="card border-left-success shadow h-100 py-2">
                    {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% if obj %} Editar {% else %} Nuevo {% endif %} Cheque
                            </div>
                            {% csrf_token %}
                            <div class="form-row">
                              <div class="">
                                  <h5 class="card-inside-title">No. de Cheque</h5>
                                          <div class="form-line">
                                            <input type="text" name="no_Cheque" class="form-control" placeholder="Numero del Cheque" autocomplete="off" />
                                          </div>
                                    </div>
                              <div class="">
                                  <h5 class="card-inside-title">Fecha Creado</h5>
                                          <div class="form-line">
                                              <input type="date" name="fecha_creado" class="form-control" placeholder="" autocomplete="off" />
                                          </div>
                                    </div>

                                <div class="">
                                    <h5 class="card-inside-title">Fecha a Pagar</h5>
                                        <div class="form-line">
                                            <input type="date" name="fecha_pagar" class="form-control" placeholder="Fecha de Pago" autocomplete="off" />
                                        </div>
                                    </div>
                                <div class="">
                                    <h5 class="card-inside-title">Monto Q.</h5>
                                      <div class="form-line">
                                            <input type="text" name="cantidad" class="form-control" placeholder="Cantidad a Pagar" autocomplete="off" />
                                          </div>
                                        </div>
                                  <div class="">
                                      <h5 class="card-inside-title">No. de Factura</h5>
                                          <div class="form-line">
                                            <input type="text" name="no_fac" class="form-control" placeholder="No. Cheque" autocomplete="off" />
                                          </div>
                                      </div>
                                    </div>
                                      <br>
                                <div class="form-row">
                                  <div class="">
                                            <div class="form-line">
                                              {{ form.proveedor }}
                                            </div>
                                        </div>
                                  <div class="">
                                            <div class="form-line">
                                              {{ form.cuenta }}
                                            </div>
                                          </div>
                                        </div>
                                        <br>
                                  <div class="">
                                      <h5 class="ml-4">Imagen del Cheque</h5>
                                          <div class="form-line">
                                              {{ form.imagen }}
                                          </div>
                                      </div>

                            <div class="dropdown-divider"></div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                                    <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
