{% extends 'base/base.html' %}
{% block page_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Ingrese el deposito</h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            {% include 'base/field_error.html'%}
            <form method="POST" class="needs-validatio" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-row">
                 <div class="col-md-4 mb-3">
                   <label for="email">{{form.no_depo.label}}</label>
                    {{ form.no_depo }}
                    <div class="valid-feedback">
                   </div>
                 </div>
                 <div class="col-md-4 mb-3">
                   <label for="email">{{form.cantidad.label}}</label>
                    {{ form.cantidad }}
                   <div class="valid-feedback">
                   </div>
                 </div>
               </div>
               <div class="form-row">
                 <div class="col-md-3 mb-3">
                   <label for="email">{{form.fecha_creado.label}}</label>
                    {{ form.fecha_creado }}
                   <div class="invalid-feedback">
                   </div>
                 </div>
                 <div class="col-md-3 mb-3">
                   <label for="email">{{form.cheque.label}}</label>
                    {{ form.cheque }}
                   <div class="invalid-feedback">
                   </div>
                 </div>
                 <div class="col-md-3 mb-3">
                   <label for="email">{{form.imagen_dep.label}}</label>
                    {{ form.imagen_dep }}
                   <div class="invalid-feedback">
                   </div>
                 </div>
               </div>
               <div class="form-group">
               </div>
               <button class="btn btn-primary" type="submit">Guardar</button>
               <a class="btn btn-danger" href="{% url 'che:deposito_list' %}">Cancelar</a>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
{% block footer %}{% endblock%}
{% block js_page %}
<script>
  $(function(){
    $("#id_fecha_creado").datetimepicker({
      format: 'Y-m-d',
      timepicker:false
    });
    });
    $(function(){
        $('.select2').select2({

        });
      });
  </script>
{% endblock %}
