{%extends 'base/base.html' %}
{%block page_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col 6">
      <h2>Registro Pago de Factura</h2>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col">
      <h4>Pendiente factura: Q. <b>{{object.total_fac1|floatformat:2 }}</b></h4>

    </div>
    <div class="col">
      <h4>Proveedor: <b>{{ object.proveedor }}</b></h4>
    </div>

  </div>
  <div class="row mt-2">
    <div class="col 4">
      <h4>Total Factura: Q. <b>{{ object.total_fac|floatformat:2 }}</b></h4>
    </div>

    <div class="col 4">
      <h4>No. factura:  <b>{{ object.no_fac }}</b></h4>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>No. cheque</th>
            <th>Fecha ingresado</th>
            <th>TOTAL</th>
            <th>equivocado</th>
            <th>rechazados</th>
          </tr>
        </thead>
        <tbody>
          {% for m in abonos_facturas %}
          <tr>
            <td>{{ m.id_cheque }}</td>
            <td>{{ m.id_cheque.fc}}</td>
            <td>{{ m.id_cheque.cantidad }}</td>
            <td>{{ m.id_cheque.estado|yesno:",Mal redactado" }}</td>
            {% if m.id_cheque.status %}
            <td>{{ m.id_cheque.status }}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>

      </table>

    </div>
    <div class="row">
      <div class="col">
        <a class="btn btn-primary" href="{% url 'che:bucsar_factura' %}">Regresar</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
