


    <style type="text/css">
        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
    </style>
    <table class="table">
      <thead>
        <th>No. Cheque</th>
        <th>Proveedor</th>
        <th>Cuenta</th>
        <th>Cantidad</th>
        <th>No. Fac.</th>
        <th>Fch. P.</th>
        <th>Fch. C.</th>
        <th>Estado</th>
        <th>R</th>
      </thead>
      <tbody>
        {% for item in cheque%}
        <tr>
          <td>{{ item.no_cheque }}</td>
          <td>{{ item.proveedor }}</td>
          <td>{{ item.cuenta }}</td>
          <td>Q.{{ item.cantidad }}</td>
          <td>{{ item.no_fac }}</td>
          <td>{{ item.fecha_pagar|date:"d/m/Y" }}</td>
          <td>{{ item.fecha_creado|date:"d/m/Y" }}</td>
          <td >{{item.estado_che|yesno:"Pe,En"}}</td>
          {% if item.status %}
          <td>{{ item.status }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
